<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- Set Organization/Agency -->
    <add key ="Organization" value ="HHS"/>
    
    <!-- GitHub Personal Access Token -->
    <add key ="Token" value ="43e36683400aafb2734e318145053e30c43e861c"></add>

    <!-- Set Organization Name -->
    <add key ="Organization Name" value ="Department of Health and Human Services"></add>

    <!-- Set Organization Path -->
    <add key ="Organization Path" value ="/orgs/HHS/repos"></add>
    
    <!-- Set Page Size Depends Upon the Organization/Agency Repositories -->
    <add key ="Page" value ="3"></add> 
    
  </appSettings>
</configuration>